<div class="container">
  <h1><%= @skill.name %></h1>
  <div class="container justify-content-center">
    <div class="image">
    <%= cl_image_tag @skill.photo.key %>
    </div>
    <%= link_to "Book", new_skill_booking_path(@skill), class: "btn btn-primary" %>
  </div>
</div>
