.banner {
  background-image: url("https://res.cloudinary.com/dsmqbxlgi/image/upload/v1610830743/roselyn-tirado-GDWmu0bFfS4-unsplash_vrlq9g.jpg");
  background-color: #cccccc;
  filter: saturate(10px);
  opacity: 0.8;
  text-align: left;
  height: 550px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-bottom: 32px;
}

// .banner background-content {
//   filter: saturate(100px);
//   opacity: 1;

// }

.banner h1 {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color:white;
  opacity: 1;
}
.banner h2 {
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: #E67E22;
  opacity: 1;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: lightgray;
  opacity: 1;
  margin-bottom: 30px;
}
